<div class="container" style="text-align:center;margin-top:100px;">
  <% var alerts = req.flash('logout'); %>
  <% for (var i in alerts) { %>
    <div class="alert alert-success">
      <%= alerts[i] %>
    </div>
  <% } %>
  <h1>Pierwsza apka: TODO list</h1>
  <img src="http://localhost:1337/images/sails.png" alt="sails.js" />
</div>
