<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/sb-admin.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendor/datatables/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome/css/font-awesome.min.css">
    <!--STYLES END-->
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#">TODO list</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (req.session.me) { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/account/<%= req.session.me %>">
                <i class="fa fa-user-circle"></i>
                Moje konto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/logout/">
                <i class="fa fa-sign-out"></i>
                Wyloguj</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/login/">
                <i class="fa fa-sign-in"></i>
                Logowanie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/new/">
                <i class="fa fa-user-circle"></i>
                Rejestracja</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">

      <div class="container-fluid">

        <%- body %>

      </div>

    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/sb-admin.js"></script>
    <script src="/js/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/vendor/chart.js"></script>
    <script src="/js/vendor/chart.js/Chart.min.js"></script>
    <script src="/js/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/js/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/js/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/popper/popper.min.js"></script>
    <!--SCRIPTS END-->
    </div>
  </body>
</html>
