<form action="/tasks/create" method="POST">
  <div class="card card-form mx-auto mt-5">
      <div class="card-header">
        Dodaj nowe zadanie
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="select">Lista</label>
            <select id="list" class="form-control" name="list">
              <% _.each(user.list, function(lists) { %>
                <option value="<%= lists.id %>">
                  <%= lists.name %>
                </option>
              <% }); %>
            </select>
            <label for="select">Typ</label>
            <select id="select" class="form-control" name="status">
              <option value="zadanie">
                Zadanie
              </option>
              <option value="pilne">
                Pilne
              </option>
              <option value="krytyczne">
                Krytyczne
              </option>
            </select>
            <label for="textarea">Opis</label>
            <textarea id="textarea" class="form-control" placeholder="Opis ..." name="task" rows="10" required ></textarea>
            <input type="hidden" value="<%= req.session.me %>" name="owner" />
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Dodaj" />
        </form>
      </div>
    </div>
</form>
