<form action="/list/update/<%= list.id %>" method="POST">
  <div class="card card-form mx-auto mt-5">
      <div class="card-header">
        Edytuj listę
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="nazwa">Nazwa</label>
            <input type="text" id="nazwa" class="form-control" value="<%= list.name %>" placeholder="Nazwa ..." name="name" required />
            <input type="hidden" value="<%= req.session.me %>" name="owner" />
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Edytuj" />
        </form>
      </div>
    </div>
</form>
