.card-header
  a
    color: #212529
table
  tr
    &.krytyczne
      font-weight: 700
      color: #a94442
      background-color: #f2dede
      a
        color: #a94442
    &.pilne
      color: #8a6d3b
      background-color: #fcf8e3
      a
        color: #8a6d3b
    &.done
      color: #3c763d
      background-color: #dff0d8
      a
        color: #3c763d
    &.zadanie
      i.fa.fa-bookmark
        color: #28c32a
  a, a:hover
    color: #212529
